
/* div {
    border: 1px solid black;
} */

h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;

}

label{
    font-size: 20px;
}

.root {
        font-size: 18px;
        /* text-align: right; */
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

input {
    height: 25px;
    width: 250px;
    text-align: center;
}

button {
    height: 25px;
    width: 250px;
    text-align: center;
    background: rgb(224, 224, 201)
}

textarea {
    height: 300px;
    width: 200px;
}


#full_report_text {
    width: 300px;
}


.background { 
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

#form {
    padding-top: 5px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.field {
    display: inline;
}

#left_column {
    padding-top: 10em;
}
